<h3>Koszyk</h3>
<ul class="dishes">
  <li *ngFor="let dish of service.getBasketPositions()">
    <span class="badge">{{dish.name}}</span>
    <span> {{dish.price}}zł</span>
    <span> x{{dish.counter}}</span>
    <button class="removeButton" (click)="service.removeDishFromBasket(dish)">-</button>
  </li>
</ul>
<br>
<span>Razem: {{service.getBasketCost()}} zł</span>
<br>
<div class="containsButton">
  <button [disabled]="service.getBasketCost()<=0" class="buttonOrder" routerLink="/summary">Zamowienie</button>
</div>


