<div class="order">

  <div>
    <app-order-basket></app-order-basket>
  </div>

  <div class="container">
    <h3>Adres dostawy</h3>
    <hr>
    <form [formGroup]="clientDetails">
      <div>
        <div>
          <label>Imię:
            <input type="text" formControlName="firstName">
          </label> <br>
          <span *ngIf="clientDetails.controls['firstName'].touched">
            wpisz imię!
          </span>
          <label>Nazwisko:
            <input type="text" formControlName="lastName">
          </label>
        </div>
        <div>
          <label>Numer telefonu:
            <input type="number" formControlName="phoneNumber">
          </label>
          <label>E-mail:
            <input type="email" formControlName="eMail">
          </label>
        </div>
        <div>
          <label>Miasto
            <input type="text" formControlName="city">
          </label>
          <label>Ulica:
            <input type="text" formControlName="street">
          </label>
        </div>
        <div>
          <label>Numer domu:
            <input type="text" formControlName="buildingNumber">
          </label>
          <label>Numer mieszkania:
            <input type="text" formControlName="apartmentNumber">
          </label>
        </div>
      </div>
      <button class="registerbtn" [disabled]="!clientDetails.valid" (click)="addOrder()">Zatwierdź</button>
    </form>
  </div>
</div>
