<section class="form">
  <h3>Adres dostawy</h3> <br>
  <form [formGroup]="clientDetails">
    <div>
      <label>Imie:
        <input type="text" class="field-style field-split align-left" formControlName="firstName">
      </label> <br>
      <label>Nazwisko:
        <input type="text" formControlName="lastName">
      </label> <br>
      <label>Numer telefonu:
        <input type="number" formControlName="phoneNumber">
      </label> <br>
      <label>E-mail:
        <input type="email" formControlName="eMail">
      </label> <br>
      <label>Miasto
        <input type="text" formControlName="city">
      </label> <br>
      <label>Ulica:
        <input type="text" formControlName="street">
      </label> <br>
      <label>Numer domu:
        <input type="text" formControlName="buildingNumber">
      </label> <br>
      <label>Numer mieszkania:
        <input type="text" formControlName="apartmentNumber">
      </label> <br>
    </div>
    <button class="submitbtn" (click)="addOrder()">Zatwierdz</button>
  </form>
</section>
<app-order-basket></app-order-basket>
