
<section class="menu">
  <div>
    <div>
    <button class="button-dis" (click)="getPizza()" [ngClass]="{'button-active' : active==='pizza'}">Pizza</button>
  </div>
    <div>
      <button class="button-dis" (click)="getPasta()" [ngClass]="{'button-active' : active==='pasta'}">Makarony</button>
    </div>
    <div>
      <button class="button-dis" (click)="getBeverage()" [ngClass]="{'button-active' : active==='beverage'}">Napoje</button>
    </div>
  </div>

<div>
  <app-order-basket></app-order-basket>
  <ul class="dishes">
    <li *ngFor="let dish of dishes">
      <img src="{{dish.imageSource}}">
      <span class="badge">{{dish.name}}</span>
      <span>{{dish.description}}</span>
      <span>{{dish.price}}</span>
      <button class="button" (click)="addDishToOrder(dish)">+</button>
    </li>
  </ul>
</div>
</section>




