
<div class="menu">
  <table *ngIf="dish" class="tg">
    <colgroup>
      <col>
      <col>
      <col>
    </colgroup>
    <tr>
      <td class="tg-picture" rowspan="2"><img
        src="{{dish.imageSource}}"></td>
      <td class="tg-info">
        <ul>
          <li>{{dish.id}}. {{dish.name}}</li>
          <li>{{dish.description}}</li>
        </ul>
      </td>
      <td class="tg-price">
        <ul>
          <li>Cena: {{dish.price}} zł</li>
          <li>Dostępność: <input type="checkbox"  [checked]="dish.isAvailable"></li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="tg-buttons" colspan="2">
        <button>Usuń</button>
        <button (click)="changeAvailability(dish)">Zmień dostępność</button>
      </td>
    </tr>
  </table>
</div>

<button class="button-back" routerLink="/admin-panel/dashboard-dishes-list">Powrót</button>
