<div class="menu">
  <div *ngIf="order">
    <table class="tg">
      <tr>
        <td class="tg-name">Ulica</td>
        <td class="tg-data">{{order.street}}</td>
      </tr>
      <tr>
        <td class="tg-name">Numer budynku</td>
        <td class="tg-data">{{order.buildingNumber}}</td>
      </tr>
      <tr>
        <td class="tg-name">Numer mieszkania</td>
        <td class="tg-data">{{order.apartmentNumber}}</td>
      </tr>
      <tr>
        <td class="tg-name">Miasto</td>
        <td class="tg-data">{{order.city}}</td>
      </tr>
      <tr>
        <td class="tg-name">Telefon</td>
        <td class="tg-data">{{order.phoneNumber}}</td>
      </tr>
      <tr>
        <td class="tg-name">Zamawiający</td>
        <td class="tg-data">{{order.firstName}} {{order.lastName}}</td>
      </tr>
    </table>
  </div>
</div>
<button class="button" routerLink="/admin-panel/dashboard-orders-list">Powrót</button>
