<div class="menu" *ngIf="order">

  <table>
    <tr>
      <th>Numer pozycji</th>
      <th>Nazwa</th>
      <th>Typ</th>
      <th>Ilosc</th>
      <th>Cena</th>
    </tr>

    <tr *ngFor="let position of order.dishIds">
      <td>{{position.dishId}}</td>
      <td>{{findDishById(position.dishId).name}}</td>
      <td>{{findDishById(position.dishId).type}}</td>
      <td>{{position.quantity}}</td>
      <td>{{findDishById(position.dishId).price * position.quantity}}</td>
    </tr>

  </table>
  <br>
  <div>
    <div>Cena zamowienia: {{order.totalCost}}</div>
    <br>
    <div>Status zamowienia: {{order.status}}</div>
  </div>

  <div>
    <button (click)="changeStatusOfOrderToDelivered()">Dostarczono</button>
    <button (click)="changeStatusOfOrderToInTransit()">W trakcie dowozu</button>
    <button (click)="changeStatusOfOrderToAccepted()">Przyjeto do realizacji</button>
  </div>

</div>

<a routerLink="/admin-panel/dashboard-orders-list">Powrot</a>
