<div class="menu">
  <div *ngIf="order">
    <table class="tg">
      <tr>
        <th>Numer pozycji</th>
        <th>Nazwa</th>
        <th>Typ</th>
        <th>Ilość</th>
        <th>Cena</th>
      </tr>

      <tr *ngFor="let position of order.dishIds">
        <td>{{position.dishId}}</td>
        <td>{{findDishById(position.dishId).name}}</td>
        <td>{{findDishById(position.dishId).type}}</td>
        <td>{{position.quantity}}</td>
        <td>{{findDishById(position.dishId).price * position.quantity}}</td>
      </tr>

    </table>
    <br>
    <div>
      <div class="info">Cena zamówienia: {{order.totalCost}} zł</div>
      <br>
      <div class="info">Status zamówienia: {{order.status}}</div>
    </div>

    <div class="buttons">
      <button class="button" (click)="changeStatusOfOrderToDelivered()">Dostarczono</button>
      <button class="button" (click)="changeStatusOfOrderToInTransit()">W trakcie dowozu</button>
      <button class="button" (click)="changeStatusOfOrderToAccepted()">Przyjęto do realizacji</button>
    </div>

  </div>
</div>
<button class="returnButton" routerLink="/admin-panel/dashboard-orders-list">Powrót</button>
