<h2>Orders list</h2>

<section class="menu">

  <table class="tg">
    <tr>
      <th class="tg">Numer pozycji</th>
      <th>Ulica</th>
      <th>Status</th>
      <th>Data przyjecia</th>
      <th></th>
      <th></th>
    </tr>

    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>{{order.street}}</td>
      <td>{{order.status}}</td>
      <td>{{order.date}}</td>
      <td>
        <button class="button" routerLink="/dashboard-order-details/{{order.id}}">Podglad</button>
      </td>
      <td>
        <button class="button" routerLink="/dashboard-order-address/{{order.id}}">Adres</button>
      </td>
    </tr>

  </table>

</section>
<a routerLink="/admin-panel">Powrot</a>
