.menu {
  border-top: 20px;
  display:  flex;
  margin: 30px;
  top: 100px;
  right: 0;
  justify-content: space-around;
}

.menu div {
  height:10vh;
  display:flex;
  justify-content: space-around;
}

.menu div div {
  width:30%;
  vertical-align: center;
}

button {
  background-color: #555555;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 25vw;
}

button.button-active {
  background-color: #af2c22;
}

.list {
  display: flex;
  justify-content: center;
}
