<h2>Lista pozycji menu</h2>

<div class="menu" *ngIf="dishes">
  <table class="tg">
    <tr>
      <th>Numer pozycji</th>
      <th>Nazwa</th>
      <th>Typ</th>
      <th>Dostepnosc</th>
      <th>Podglad</th>
    </tr>

    <tr *ngFor="let dish of dishes">
      <td>{{dish.id}}</td>
      <td>{{dish.name}}</td>
      <td>{{dish.type}}</td>
      <td class="check"><input type="checkbox" (click)="changeAvailability(dish)" [checked]="dish.isAvailable"></td>
      <td>
        <button class="button" routerLink="/dashboard-dish-details/{{dish.id}}">Podglad</button>
      </td>
    </tr>

  </table>
</div>


